{
    "branches": ["main", 
		{name: "Developer", prerelease: true}, 
		{name: "Devops", prerelease: true}, 
		{name: "Network", prerelease: true},
		{name: "airflow", prerelease: true}, 
    ],
    "repositoryUrl": "https://github.com/trungkien210493/test_semantic_release.git",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/github"
    ]
}
